/* Color Palette */
:root {
  --color-accent: #ff3400;
  --color-body: #918ca4;
  --color-body-dark: #5c5577;
  --color-heading: #1b0760;
  --color-primary: #2584ff;
  --color-secondary: #00d9ff;
  --color-plain: #fff;
  --color-badge-primary: #126de4;
  --color-badge-secondary: #02cdf1;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Typography */
html {
  font-size: 62.5%;
}

body {
  color: var(--color-body);
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-size: 2.4rem;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--color-heading);
  margin-bottom: 1rem;
}

h1 {
  font-size: 7rem;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 3rem;
}

p {
  margin-top: 0;
}

/* desktop styles */
@media screen and (min-width: 1024px) {
  body {
    font-size: 1.8rem;
  }

  h1 {
    font-size: 8rem;
  }

  h3 {
    font-size: 2.4rem;
  }
}

/* Links */

a {
  text-decoration: none;
}

.link-arrow {
  color: var(--color-accent);
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
}

.link-arrow::after {
  content: "-->";
  margin-left: 5px;
  transition: margin 0.15s;
}

.link-arrow:hover::after {
  margin-left: 10px;
}

@media screen and (min-width: 1024px) {
  .link-arrow {
    font-size: 1.5rem;
  }
}

/* badge */

.badge {
  border-radius: 20px;
  font-size: 2rem;
  font-weight: 600;
  padding: 0.5rem 2rem;
  white-space: nowrap; /*prevents the badge from wrapping into the 2nd line*/
}

.badge--primary {
  background: var(--color-badge-primary);
  color: var(--color-plain);
}

.badge--secondary {
  background-color: var(--color-badge-secondary);
  color: var(--color-plain);
}

.badge--small {
  font-size: 1.6rem;
  padding: 0.5rem 1.5rem;
}

@media screen and (min-width: 1024px) {
  .badge {
    border-radius: 25px;
    font-size: 1.5rem;
    /* padding: 1rem 1.5rem; */
  }

  .badge--small {
    border-radius: 1.7rem;
    font-size: 1.2rem;
    /* padding: 1rem 1.2rem; */
  }
}

/* Lists */

.list {
  color: var(--color-heading);
  font-size: 2.4rem;
  list-style: none;
  padding-left: 0;
}

.list--inline .list__item {
  display: inline-block;
  margin-right: 7rem;
}

.list--tick {
  list-style-image: url(../images/tick.svg);
  padding-left: 3rem;
}

.list--tick .list__item {
  margin-bottom: 2.4rem;
  padding-left: 0.5rem;
}

@media screen and (min-width: 1024px) {
  .list--tick .list__item {
    margin-bottom: 1.8rem;
    padding-left: 0.2rem;
  }
}

/* Icons */

.icon {
  height: 40px;
  width: 40px;
}

.icon--primary {
  fill: var(--color-primary);
}

.icon--small {
  height: 30px;
  width: 30px;
}

.insert-space {
  margin-left: 10px;
}

.icon-container {
  align-items: center;
  background: #f3f9fa;
  border-radius: 100%;
  display: inline-flex;
  height: 64px;
  justify-content: center;
  width: 64px;
}

.icon-container--accent {
  background-color: var(--color-accent);
}

.icon--plain {
  fill: var(--color-plain);
}

/* Buttons */

.button {
  border-radius: 40px; /*used 40px*/
  border: 0;
  cursor: pointer;
  font-size: 1.8rem;
  font-weight: 600; /*used 600*/
  margin: 0.5rem 0;
  outline-style: none; /*omitted*/
  padding: 1.8rem 3rem; /*used 2rem 3rem*/
  text-align: center;
  text-transform: uppercase;
  white-space: nowrap;
}

/* .button-container {
  display: inline-flex;
  width: 18rem;
} */

.button--primary {
  background: var(--color-primary); /*used color-primary*/
  color: var(--color-plain);
}

.button--primary:hover {
  background: #348cff;
}

.button--secondary {
  background: var(--color-secondary);
  color: var(--color-plain);
}

.button--secondary:hover {
  background: #2bddfc;
}

.button--accent {
  background: var(--color-accent); /*used color-primary*/
  color: var(--color-plain);
}

.button--accent:hover {
  background: #ff552a;
}

.button--outline {
  background: var(--color-plain);
  border: 2px solid var(--color-heading);
  color: var(--color-heading);
  transition: background 0.2s, color 0.2s;
}

.button--outline:hover {
  background: var(--color-heading);
  color: var(--color-plain);
}

/* .button--large {
  width: 40rem;
}

.button--medium {
  padding: 30px 80px;
  width: 32rem;
}

.button--small {
  font-size: 1.5rem;
  width: 17.5rem;
} */

.button--block {
  align-items: center;
  display: inline-flex;
  justify-content: center;
  width: 100%;
}

@media screen and (min-width: 1024px) {
  .button {
    font-size: 1.4rem;
    /* padding: 12px 15px; used 2rem 3rem */
    /*width: 80%; /*omitted*/
  }
}

/* Input */
.input {
  border-radius: 50px;
  border: 0;
  color: var(--color-heading);
  font-size: 2rem;
  /* margin: 5rem 5rem; */
  outline: 0; /* shorthand form of outline-style et al */
  padding: 1.5rem 1.5rem 1.5rem 5rem;
  /*width: 100%; /*temp sizing to see how the style looks*/
}

.input::placeholder {
  color: #cdcbd7;
  font-weight: 200;
}

.input--shadow {
  box-shadow: 0 0 35px rgba(0, 0, 0, 0.2);
}

@media screen and (min-width: 1024px) {
  .input {
    font-size: 1.5rem;
    /* padding: 2.5rem 1rem 2.5rem 5rem; */
  }
}

/* Input groups */

.input-group {
  border-radius: 45px;
  box-shadow: 0 0 30px 20px rgba(133, 132, 132, 0.2);
  display: flex;
  margin: 2rem auto;
  max-width: 670px;
  /* width: 100%; */
}

.input-group .input {
  border: 0;
  box-shadow: none;
  flex-grow: 1;
  width: 0;
}

@media screen and (min-width: 1024px) {
  .input-group {
    width: 690px;
  }
}

/* Cards */

.card {
  border-radius: 7px;
  box-shadow: 0 0 20px 10px rgba(134, 132, 132, 0.2);
  overflow: hidden;
}

/* .card__body {
} */

.card__header,
.card__body {
  /* font-size: ; */
  overflow-wrap: break-word;
  padding: 2rem 2rem;
}

.card--primary .card__header {
  background: var(--color-primary);
  color: var(--color-plain);
}

/* The below style states "target the card__header class 
    inside the .card--secondary class". This card--secondary 
    was added to the div.card element in the html. You can 
    also create a .card--secondary style and add it to the header element of the card. You'll get the same output. */
.card--secondary .card__header {
  background: var(--color-secondary);
  color: var(--color-plain);
}

/* plans */
.plan__name {
  color: var(--color-plain);
  font-size: 2.4rem;
  font-weight: 500;
  margin: 0;
}

.plan__price {
  font-size: 6rem;
}

.plan__billing-cycle {
  font-size: 2.4rem;
  font-weight: 300;
  opacity: 0.8;
  margin-right: 1rem;
}

.plan__description {
  font-size: 2rem;
  font-weight: 300;
  display: block;
  letter-spacing: 1px;
}

.plan .list__item {
  margin-bottom: 2rem;
}

.plan--popular .card__header {
  position: relative;
}

.plan--popular .card__header::before {
  content: url(../images/popular.svg);
  width: 40px;
  position: absolute;
  right: 4%;
  top: -6px;
}

@media screen and (min-width: 1024px) {
  .plan__name {
    font-size: 1.4rem;
  }

  .plan__price {
    font-size: 5rem;
  }

  .plan__billing-cycle {
    font-size: 1.6rem;
  }

  .plan__description {
    font-size: 1.7rem;
  }
}

/* Media */
.media {
  display: flex;
}

.media__title {
  margin-top: 0;
}

.media__body {
  margin: 0 2rem;
}

.media__image {
  margin-top: 1.5rem;
}

/* Quote */

.quote {
  color: var(--color-body-dark);
  font-size: 3rem;
  font-style: italic;
  font-weight: 400;
  line-height: 1.3;
}

.quote__body {
  display: block;
}
/* 
.quote__owner {
  display: flex;
  margin-top: 4rem;
}

.quote__owner__details {
  margin-left: 2rem;
  font-style: normal;
}

.quote__owner__name {
  color: var(--color-heading);
  font-style: normal;
  font-weight: 700;
  text-transform: capitalize;
} */

.quote__author__details {
  font-style: normal;
  line-height: 1;
  margin-left: 1.5rem;
}

.quote__author {
  font-weight: 500;
  /* margin-bottom: 0.2rem; */
  margin-top: 2rem;
  text-transform: capitalize;
}

.quote__footer {
  margin-top: 1rem;
}

.quote__owner__company {
  color: var(--color-heading);
  font-size: 1.8rem;
  opacity: 0.4;
}

@media screen and (min-width: 1024px) {
  .quote {
    font-size: 2rem;
  }

  .quote__image {
    margin-top: 0.1rem;
  }

  .quote__author {
    font-size: 2.4rem;
    margin-top: 1rem;
  }

  .quote__owner__company {
    font-size: 1.6rem;
  }
}

/* grids */
.grid {
  display: grid;
}

@media screen and (min-width: 768px) {
  .grid--cols-2 {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 1024px) {
  .grid--cols-3 {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* testimonial */
.testimonial {
  padding: 3rem;
}

.testimonial__image > img {
  width: 100%;
}

.testimonial__image {
  position: relative;
}

.testimonial__image > .icon-container {
  position: absolute;
  right: -3.2rem;
  top: 2rem;
}

@media screen and (max-width: 767px) {
  .testimonial .icon-container {
    height: 50px;
    width: 50px;
  }

  .testimonial .icon {
    height: 25px;
    width: 25px;
  }

  .testimonial__image > .icon-container {
    right: -2.5rem;
    top: 2rem;
  }
}

@media screen and (min-width: 768px) {
  /* .quote__body {
    font-size: 2rem;
  } */

  .testimonial .quote,
  .testimonial .quote__author {
    font-size: 2rem;
  }

  .testimonial .quote {
    margin-left: 6rem;
  }
}

/* Callouts */

.callout {
  border: 2px solid dodgerblue;
  border-radius: 0.8rem;
  padding: 2.5rem;
  text-align: center;
}

.callout--primary {
  background-color: var(--color-primary);
}

.callout--primary,
.callout h2 {
  color: var(--color-plain);
}

.callout__title {
  font-size: 3rem;
  margin-top: 1rem;
  text-transform: capitalize;
}

.callout__body {
  padding: 0 1rem;
}

.callout__info {
  font-size: 2rem;
}

.callout .button {
  align-self: center;
  font-size: 1.4rem;
  justify-self: center;
  padding: 1.8rem 7rem;
}

@media screen and (min-width: 768px) {
  .callout {
    padding: 2.5rem;
    text-align: left;
  }

  .callout__title {
    font-size: 2rem;
    margin-top: 0;
  }

  .callout__info {
    font-size: 1.6rem;
  }

  .callout .grid--cols-2 {
    /* grid-template-columns: 80fr 20fr; */
    grid-template-columns: 1fr auto;
  }

  .callout .button {
    align-self: center;
    font-size: 1rem;
    justify-self: center;
    padding: 1.5rem 4rem;
  }
}

/* Collapsible */
.collapsible {
  align-items: center;
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: auto 1fr;
  padding: 1rem;
}

.collapsible--primary {
  /* background-color: black; */
}

.collapsible__header {
  align-items: center;
  display: flex;
  grid-area: 1 / 1 / 2 / 3;
  text-transform: uppercase;
}

.collapsible .icon--primary {
  fill: var(--color-plain);
}

.collapsible__title {
  color: var(--color-plain);
  flex-grow: 1; /*use this or set justify-content: space-between in .collapsible__header above*/
  font-size: 3rem;
  margin: 0;
}

.collapsible .list {
  color: var(--color-plain);
}

.collapsible__body {
  /*max-height is used instead of display cos we can't apply transition on display.*/
  max-height: 0;
  opacity: 0;
  /* overflow is applied cos max-height doesn't make the ul disappear, it results to an overflow. */
  overflow: hidden;
  transition: all 0.3s;
}

.collapsible__body .list {
  color: var(--color-body);
  font-size: 2rem;
  font-weight: 400;
  margin-top: 0;
}

.collapsible .list__item {
  margin-bottom: 2rem;
}

.collapsible__arrow {
  transform: rotate(-90deg);
  transition: transform 0.3s;
}

.collapsible--expanded .collapsible__arrow {
  transform: rotate(0);
  /* transition: rotate 3s; */
}

.collapsible--expanded .collapsible__body {
  max-height: 100vh;
  opacity: 1;
}
