/* Color Palette */
:root {
  --color-accent: #ff3400;
  --color-body: #918ca4;
  --color-heading: #1b0760;
  --color-primary: #2584ff;
  --color-secondary: #00d9ff;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Typography */
html {
  font-size: 62.5%;
}

body {
  color: var(--color-body);
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-size: 2.4rem;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--color-heading);
  margin-bottom: 1rem;
}

h1 {
  font-size: 7rem;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 3rem;
}

p {
  margin-top: 0;
}

/* desktop styles */
@media screen and (min-width: 1024px) {
  body {
    font-size: 1.8rem;
  }

  h1 {
    font-size: 8rem;
  }

  h3 {
    font-size: 2.4rem;
  }
}

/* Links */

a {
  text-decoration: none;
}

.link-arrow {
  color: var(--color-accent);
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
}

.link-arrow::after {
  content: "-->";
  margin-left: 5px;
  transition: margin 0.15s;
}

.link-arrow:hover::after {
  margin-left: 10px;
}

@media screen and (min-width: 1024px) {
  .link-arrow {
    font-size: 1.5rem;
  }
}

/* badge */

.badge {
  border-radius: 20px;
  font-size: 2rem;
  font-weight: 600;
  padding: 0.5rem 2rem;
  white-space: nowrap; /*prevents the badge from wrapping into the 2nd line*/
}

.badge--primary {
  background: var(--color-primary);
  color: #fff;
}

.badge--secondary {
  background-color: var(--color-secondary);
  color: #fff;
}

.badge--small {
  font-size: 1.6rem;
}

@media screen and (min-width: 1024px) {
  .badge {
    border-radius: 25px;
    font-size: 1.5rem;
    /* padding: 1rem 1.5rem; */
  }

  .badge--small {
    border-radius: 1.7rem;
    font-size: 1.2rem;
    /* padding: 1rem 1.2rem; */
  }
}

/* Lists */

.list {
  color: var(--color-heading);
  font-size: 2.4rem;
  list-style: none;
  padding-left: 0;
}

.list--inline .list__item {
  display: inline-block;
  margin-right: 7rem;
}

.list--tick {
  list-style-image: url(../images/tick.svg);
  padding-left: 3rem;
}

.list--tick .list__item {
  margin-bottom: 2.4rem;
  padding-left: 0.5rem;
}

@media screen and (min-width: 1024px) {
  .list--tick .list__item {
    margin-bottom: 1.8rem;
    padding-left: 0.2rem;
  }
}

/* Icons */

.icon {
  height: 40px;
  width: 40px;
}

.icon--primary {
  fill: var(--color-primary);
}

.icon-container {
  align-items: center;
  background: #f3f9fa;
  border-radius: 100%;
  display: inline-flex;
  height: 64px;
  justify-content: center;
  width: 64px;
}

/* Buttons */

.button {
  border-radius: 45px; /*used 40px*/
  border: 0;
  cursor: pointer;
  font-size: 1.8rem;
  font-weight: 500; /*used 600*/
  margin: 1rem 0;
  outline-style: none; /*omitted*/
  padding: 25px; /*used 2rem 3rem*/
  text-align: center;
  text-transform: uppercase;
  white-space: nowrap;
  /*width: 80%; /*omitted*/
}

/* .button-container {
  display: inline-flex;
  width: 18rem;
} */

.button--primary {
  background: var(--color-primary); /*used color-primary*/
  color: #fff;
}

.button--primary:hover {
  background: #348cff;
}

.button--secondary {
  background: var(--color-secondary);
  color: #fff;
}

.button--secondary:hover {
  background: #2bddfc;
}

.button--accent {
  background: var(--color-accent); /*used color-primary*/
  color: #fff;
}

.button--accent:hover {
  background: #ff552a;
}

.button--outline {
  background: #fff;
  border: 2px solid var(--color-heading);
  color: var(--color-heading);
  transition: background 0.2s, color 0.2s;
}

.button--outline:hover {
  background: var(--color-heading);
  color: #fff;
}

/* .button--large {
  width: 40rem;
}

.button--medium {
  padding: 30px 80px;
  width: 32rem;
}

.button--small {
  font-size: 1.5rem;
  width: 17.5rem;
} */

.button--block {
  display: inline-block;
  width: 100%;
}

@media screen and (min-width: 1024px) {
  .button {
    font-size: 1.5rem;
    padding: 25px; /*used 2rem 3rem*/
    /*width: 80%; /*omitted*/
  }
}
