<section class="block container">
    <header class="block__header">
        <h2 class="block__heading">cloud hosting for pros</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis, non.</p>
    </header>
</section>

<section class="block block--dark block--skew-left">
    <header class="block__header">
        <h2 class="block__heading">cloud hosting for pros</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis, non.</p>
    </header>
</section>