<div class="callout callout--primary">
    <div class="grid grid--cols-2">
        <div class="callout__body">
            <h2 class="callout__title">
                Ready to get started?
            </h2>
            <p class="callout__info">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore mollitia, amet
                quod perspiciatis
                obcaecati velit nulla vero harum quo quis.
            </p>
        </div>
        <a href="#" class="button button--secondary">get started</a>
    </div>
</div>