<div class="collapsible collapsible--primary collapsible--expanded">
    <header class="collapsible__header">
        <h2 class="collapsible__title">
            products
        </h2>
        <svg class="icon icon--primary collapsible__arrow">
            <use xlink:href="images/sprite.svg#chevron">
            </use>
        </svg>
    </header>
    <div class="collapsible__body">
        <ul class="list ">
            <li class="list__item">
                Word Processing Hosting</li>
            <li class="list__item">
                Free Automated WordPress
            </li>
            <li class="list__item">
                Migrations
            </li>
            <li class="list__item">
                Domain Names
            </li>
            <li class="list__item">
                Monthly Web Hosting
            </li>
        </ul>
    </div>
</div>
<script src="js/main.js"></script>